<%- include('partials/header'); %>

<form>
    <input type="text" name="username" required>
    <div [hidden]="name.valid || name.pristine">
      Name Required
    </div>
    <input type="password" name="password" required>
    <button>
      Confirm
    </button>
  <form>

<script>

</script>

<%- include('./partials/footer');%>